/* --- Default --- */
:root {
    --menu-bg: #ccf6fd;
    --menu-bg-hover: #9ceffd;
    --menu-color: rgb(51, 51, 51);
}
  
body, html{ 
    font-family: 'Inter', sans-serif; 
    line-height: 1; 
    font-size: 16px; 
    margin: 0;
    padding: 0;
    background: var(--menu-bg);
}

a {text-decoration: none;}


/* --- Header --- */
.header{
    background: var(--menu-bg);
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(28, 12, 255);
}
.header__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.header__logo {font-size: 20px;}
.header__logo span {color: blue;}

.header__logo,
.header__profile {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--menu-color);
}

.header__menu {padding: 0; margin: 0;}
.header__menu li {display: inline-block;}
.header__menu li a {
    color: var(--menu-color);
    opacity: 0.8;
    display: block;
    padding: 16px;
    font-size: 16px;
}
.header__menu li a:hover {
    background: var(--menu-bg-hover);
    border-radius: 6px;
}

@media (max-width: 768px) {
    .header__menu {
        position: absolute;
        top: 60px;
        left: 0;
        background: var(--menu-bg);
        width: 100%;
        height: 100vh;
        height: 0vh;
        overflow: hidden;
        transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
        text-align: center;
    }

    .header__menu li {width: 100%; border-bottom: 1px solid #444;}
    .header__menu li:hover {background: var(--menu-bg-hover);}
    .menu-open .header__menu {height: 100vh; padding: 3%;}

    .icon-hamburger {height: 50px; width: 40px; margin-left: 20px; padding-top: 5px;}
    .icon-hamburger span {
        height: 2px; 
        width: 30px; 
        background: var(--menu-color);
        position: relative;
        display: block;
        margin-top: 11px;
        transition: all 0.1s ubic-bezier(.215, .61, .355, 1);
    }

    .menu-open .icon-hamburger span:nth-child(1){transform: rotate(45deg) translateY(9px);}
    .menu-open .icon-hamburger span:nth-child(2){transform: rotate(-45deg) translateY(-9px);}    

    .header__profile {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}


/* --- Button Profile --- */
.button-small {
    font-size: 1rem;
    background: #6a6cd6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
}
.button-small:hover {
    background: #5351db;
    font-size: 18px;
}


/* --- Footer --- */
.footer {background: rgb(22, 22, 22); color: white;}
.bottom-footer {
    background: rgb(0, 0, 0);
    margin-top: 0;
    color: white;
    padding: 30px;
    text-align: center;
    margin-bottom: 0;
}
.bottom-footer a {text-decoration: underline; color: #6a6cd6;}


/* --- INDEX --- */
.hero {
    min-height: 100vh; 
    display: flex; 
    align-items: center;
}
.img-res {
    width: 100%; 
    height: auto; 
    vertical-align: middle;
}
.img-round{border-radius: 50%;}


/* --- REVIEW --- */
.client-review {margin: 0 30px;}

@media (max-width: 768px) {
    .client-review {margin: 50px 30px 0 30px;}
}


/* --- Button General --- */
.button {
    font-size: 1.2rem;
    text-transform: uppercase;
    background: #6a6cd6;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
}
.button:hover {
    background: #5351db;
    font-size: 20px;
}


/* --- Grid --- */
.grid {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1250px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.grid--center {justify-content: center;}


[class*='col-'] {position: relative; padding: 0 15px;}

.col-20 {width: 20%;}
.col-25 {width: 25%;}
.col-30 {width: 30%;}
.col-33 {width: 33.33%;}
.col-50 {width: 50%;}
.col-70 {width: 70%;}
.col-80 {width: 80%;}
.col-100 {width: 100%;}

@media (max-width: 768px) {
    [class*='col-'] {width: 100%;}
    .sma-20 {width: 20%;}
    .sma-25 {width: 25%;}
    .sma-33 {width: 33.33%;}
    .sma-50 {width: 50%;}
    .sma-100 {width: 100%;}
}
  

/* --- Helpers --- */
.mt-0 {margin-top: 0}
.mt-1 {margin-top: 10px}
.mt-2 {margin-top: 20px}
.mt-3 {margin-top: 40px}
.mt-4 {margin-top: 100px}

.mb-0 {margin-bottom: 0}
.mb-1 {margin-bottom: 10px}
.mb-2 {margin-bottom: 20px}
.mb-3 {margin-bottom: 40px}
.mb-4 {margin-bottom: 100px}

.p-0 {padding: 0}
.p-1 {padding: 10px}
.p-2 {padding: 20px}
.p-3 {padding: 40px}
.p-4 {padding: 100px}

.pt-1 {padding-top: 10px;}
.pt-3 {padding-top: 20px;}
.pt-3 {padding-top: 40px;}
.pt-4 {padding-top: 15vh;}

.pb-1 {padding-bottom: 10px;}
.pb-2 {padding-bottom: 20px;}
.pb-3 {padding-bottom: 40px;}
.pb-4 {padding-bottom: 15vh;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.text-review {background: rgb(126, 240, 255); color: black; padding: 10px; text-align: center;}

@media (max-width: 768px) {
    .sma-text-center {text-align: center;}
    .mr-1 {flex-flow: column-reverse;}
}

.relative {position: relative;}
.font-normal {font-weight: 400;}


/* ! Title System */
.t1 {font-size: 40px;}
h1, .text-1 {font-size: 3.6rem; margin-bottom: 1rem;}
h2, .text-2 {font-size: 2.2rem; margin-bottom:1rem; line-height: 1;}
h3, .text-3  {font-size: 1.8rem; margin-bottom:1rem; line-height: 1.2;}
h4, .text-4 {font-size: 1.5rem; margin-bottom:1rem; line-height: 1.2;}
p{font-size: 1rem; margin-bottom:1rem; line-height: 1.5;}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}